<div id="container">
  <div id="map"></div>
  <div id="sidebar">
    <div>
      <b>Start:</b>
      <mat-label>Select Start Location</mat-label>
      <select id="start">
        <option
          *ngFor="let location of locations | async"
          [value]="location.name"
        >
          {{ location.name }}
        </option>
      </select>
      <br />
      <b>Waypoints:</b> <br />
      <i>(Ctrl+Click or Cmd+Click for multiple selection)</i> <br />
      <select multiple id="waypoints">
        <option
          *ngFor="let location of locations | async"
          [value]="location.name"
        >
          {{ location.name }}
        </option>
      </select>
      <br />
      <b>End:</b>
      <select id="end">
        <option
          *ngFor="let location of locations | async"
          [value]="location.name"
        >
          {{ location.name }}
        </option>
      </select>
      <br />
      <div>
        <strong>Mode of Travel: </strong>
        <select id="mode" [(ngModel)]="travelMode">
          <option
            *ngFor="let option of travelModes"
            [ngValue]="option.travelMode"
          >
            {{ option.name }}
          </option>
        </select>
      </div>
      <br />
      <input type="submit" id="submit" />
    </div>
    <div id="directions-panel"></div>
  </div>
</div>

<!-- 
     The `defer` attribute causes the callback to execute after the full HTML
     document has been parsed. For non-blocking uses, avoiding race conditions,
     and consistent behavior across browsers, consider loading using Promises
     with https://www.npmjs.com/package/@googlemaps/js-api-loader.
    -->
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
  defer
></script>
