<table style="width: 100%">
  <tr>
    <th style="width: 70%">
      <input
        ngx-google-places-autocomplete
        class="my-search-box"
        placeholder="Search Location"
        #search
      />
    </th>
  </tr>
  <tr>
    <td>
      <google-map
        #myGoogleMap
        height="600px"
        width="100%"
        [zoom]="zoom"
        [center]="center"
        [options]="options"
        (mapClick)="handleClick($event)"
      ></google-map>
    </td>
    <td>
      <mat-card class="location-list">
        <mat-card-title>Add Location To Travel</mat-card-title>
        <mat-card-content>
          <form (formGroup)="(settingsService.formGroup)" (ngSubmit)="onSave()">
            <mat-form-field class="add-location-form">
              <mat-label>Location Name</mat-label>
              <input [formControl]="Name" matInput [readonly]="true" />
            </mat-form-field>
            <mat-form-field class="add-location-form">
              <mat-label> Location Address </mat-label>
              <input matInput [formControl]="Address" [readonly]="true" />
            </mat-form-field>
            <mat-form-field class="add-location-form">
              <mat-select
                formControlName="locationType"
                placeholder="Select Location Type"
                class="add-location-form"
              >
                <mat-option value="Museum">Museum</mat-option>
                <mat-option value="Park">Park</mat-option>
                <mat-option value="Famous Building">Famous Building</mat-option>
                <mat-option value="Restaurant">Restaurant</mat-option>
                <mat-option value="Caffe-bar">Caffe-bar</mat-option>
                <mat-option value="Statue">Statue</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="add-location-form">
              <mat-label>Budget for this location</mat-label>
              <input
                matInput
                type="number"
                class="example-right-align"
                placeholder="0"
              />
              <span matPrefix>$&nbsp;</span>
              <span matSuffix>.00</span>
            </mat-form-field>
            <div class="add-location-button">
              <button formControlName="addLocation" mat-raised-button>
                Add Location
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </td>
  </tr>
</table>
