<mat-stepper [linear]="isLinear" #stepper class="main-stepper">
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>{{ this.firstStepLabel }}</ng-template>
    <app-create-travel-itinerary
      (sendToParent)="nameChange($event)"
      (enableLoadComponent)="loadComponent($event)"
    ></app-create-travel-itinerary>
  </mat-step>
  <mat-step
    [stepControl]="secondFormGroup"
    label="Add Locations To Travel Itinerary"
  >
    <app-cities
      [travelName]="setTravelName()"
      *ngIf="loadCitiesComponent()"
    ></app-cities>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="finishTravelItinerary()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
